<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdminPanel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="sidebar">
            <div class="logo">
                <i class="fas fa-shield-alt"></i>
                <span>Admin Panel</span>
            </div>
            <nav>
                <a asp-action="Index" class="active"><i class="fas fa-home"></i> Dashboard</a>
                <a asp-action="CreateCategory"><i class="fas fa-tags"></i> Add Category</a>
                <a asp-action="CreateProduct"><i class="fas fa-box"></i> Add Product</a>
                <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fas fa-cog"></i> Settings</a>
                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" class="add-btn"><i class="bi bi-box-arrow-right"></i>Logout</button>

                 </form>
            </nav>
        </div>
    }
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
